.burgerCategory {
    display: flex;
    flex-direction: column;
}

.burgerTitle {
    margin: 10% 0 0 15%;
    font-size: 3rem;
}

.subBurgerCategory {
    display: flex;
    flex-direction: row;
    margin: 2em 0 0 20%;
}

.subBurgerCategory>ul {
    list-style-type: none;
    font-size: 2rem;
}

/*************************************************************/
/* affichage des produits */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Couleur noire avec une opacité de 0.5 (50%) */
    background: rgba(0, 0, 0, 0.5);
    /* Pour placer l'overlay au-dessus de l'image */
    z-index: 1;
}

.cardMainCourse {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 50%;
}

/**************************************************************/

/* Détails des produits*/

.titleDetails {
    color: rgb(255, 255, 255);
}

.details {
    flex-direction: column;
}

.detailsNamePrice {
    display: flex;
    flex-direction: column;
    margin: 2em 0 0 20%;
}

.detailsAllergens {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25%;
}