.burgerCategory {
    display: flex;
    flex-direction: column;
}

.burgerTitle {
    margin: 10% 0 0 15%;
    font-size: 3rem;
}

.subBurgerCategory {
    display: flex;
    flex-direction: row;
    margin: 2em 0 0 20%;
}

.subBurgerCategory>ul {
    list-style-type: none;
    font-size: 2rem;
}

/*************************************************************/
/* affichage des produits */

.mainCourse {
    justify-content: space-evenly;
    margin-top: 15%;
}


/**************************************************************/

/* Détails des produits*/

.titleDetails {
    color: rgb(255, 255, 255);
}

.details {
    flex-direction: column;
}

.detailsNamePrice {
    display: flex;
    flex-direction: column;
    margin: 2em 0 0 20%;
}

.detailsAllergens {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25%;
}