.form {

    padding: 20px;
    background-color: rgb(247, 239, 229);
    width: 50%;
    margin-left: 25%;
    margin-top: 25vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.registrationTitle {
    color: rgb(223, 201, 175);
}