{% extends "base.html.twig" %}

{% block title %}Interface Administrateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
        {% include "commons/_admin_menu.html.twig" %}
            <main class="col-9 border border-light bg-light p-3">
                <h1>Administrateur</h1>
            </main>
        </div>
    </div>


{% endblock %}